## Deret Maclaurin

In [1]:
import sympy as sp

x = sp.Symbol('x')

def maclaurin_series(func, var, num_terms):
    """
    Menghitung deret Maclaurin dari suatu fungsi.

    Parameters:
    func (sympy expression): Fungsi yang akan dihitung deret Maclaurin-nya.
    var (sympy symbol): Variabel dalam fungsi.
    num_terms (int): Jumlah suku dalam deret Maclaurin.

    Returns:
    sympy expression: Deret Maclaurin dari fungsi hingga num_terms suku.
    """
    series = sp.series(func, var, 0, num_terms)
    return series

### $e^x$

In [2]:
e_x = maclaurin_series(sp.exp(x), x, 10)
e_x

1 + x + x**2/2 + x**3/6 + x**4/24 + x**5/120 + x**6/720 + x**7/5040 + x**8/40320 + x**9/362880 + O(x**10)

In [52]:
import math
import pandas as pd

def ex_series(x, es=1e-4, maxit=50):
    """
    This function iteratively calculates an approximation of e^x and stores the results in a pandas DataFrame.

    Args:
        x: The value for which to calculate the approximation.
        es: The desired absolute error tolerance (default: 1e-4).
        maxit: The maximum number of iterations allowed (default: 50).

    Returns:
        A pandas DataFrame containing the iteration number, solution, true error, and absolute error.
    """
    
    # initialization
    maxit = maxit - 1
    iter = 1
    sol = 1
    ea = 100
    data = {'sol': [sol], 'et': [abs((math.exp(x)-sol)/math.exp(x))*100], 'ea': [100]}

    # iterative calculation
    while True:
        sol_old = sol
        sol = sol + x**iter / math.factorial(iter)
        iter = iter + 1
        if sol != 0:
            ea = abs((sol-sol_old)/sol)*100
            et = abs((math.exp(x)-sol)/math.exp(x))*100

        data['sol'].append(sol)
        data['et'].append(et)
        data['ea'].append(ea)
        
        if ea < es or iter == maxit:
            break
        fx = sol

    return pd.DataFrame(data)

In [46]:
ex_series(0.5, 1e-4, 10)

        sol         et          ea
0  1.000000  39.346934  100.000000
1  1.500000   9.020401   33.333333
2  1.625000   1.438768    7.692308
3  1.645833   0.175162    1.265823
4  1.648438   0.017212    0.157978
5  1.648698   0.001416    0.015795
6  1.648720   0.000100    0.001316
7  1.648721   0.000006    0.000094

### $cos(x)$

In [5]:
cos_x = maclaurin_series(sp.cos(x), x, 10)
cos_x

1 - x**2/2 + x**4/24 - x**6/720 + x**8/40320 + O(x**10)

In [50]:
import math
import pandas as pd


def cos_series(x, es=1e-4, maxit=50):
    """
    This function iteratively calculates an approximation of cos(x) using the McLaurin series.

    Args:
        x: The value for which to calculate the cosine approximation (in radians).
        es: The desired absolute error tolerance (default: 1e-4).
        maxit: The maximum number of iterations allowed (default: 50).

    Returns:
        A pandas DataFrame containing the iteration number, solution, and absolute error.
    """
    maxit = maxit - 1
    iter = 0
    sol = 1.0  # Initialize solution to 1
    sign = 1.0  # Initialize sign for alternating series
    data = {'sol': [sol], 'et': [abs((math.cos(x) - sol) / math.cos(x)) * 100], 'ea': [100]}

    while True:
        term = sign * (x**iter / math.factorial(iter))
        sol += term
        iter += 1
        sign *= -1  # Alternate sign for next term

        if iter > 0:  # Calculate absolute error only after first iteration
            ea = abs(term / sol) * 100

        data['sol'].append(sol)
        data['et'].append(abs((math.cos(x) - sol) / math.cos(x)) * 100)
        data['ea'].append(ea if iter > 0 else None)  # Avoid division by zero

        if ea < es or iter == maxit:
            break

    df = pd.DataFrame(data)
    return df

In [51]:
cos_series(5, 1e-4, 10)

         sol           et          ea
0   1.000000   252.532009  100.000000
1   2.000000   605.064017   50.000000
2  -3.000000  1157.596026  166.666667
3   9.500000  3249.054082  131.578947
4 -11.333333  4095.362764  183.823529
5  14.708333  5085.158293  177.053824
6 -11.333333  4095.362764  229.779412
7  10.368056  3555.071450  209.310114
8  -5.132937  1909.524417  301.990723
9   4.555184  1505.848000  212.683418

### $sin(x)$

In [8]:
sin_x = maclaurin_series(sp.sin(x), x, 10)
sin_x

x - x**3/6 + x**5/120 - x**7/5040 + x**9/362880 + O(x**10)

In [47]:
import math
import pandas as pd


def sin_series(x, es=1e-4, maxit=50):
    """
    This function iteratively calculates an approximation of sin(x) using the McLaurin series.

    Args:
        x: The value for which to calculate the sine approximation (in radians).
        es: The desired absolute error tolerance (default: 1e-4).
        maxit: The maximum number of iterations allowed (default: 50).

    Returns:
        A pandas DataFrame containing the iteration number, solution, and absolute error.
    """
    maxit = maxit - 1
    iter = 0
    sol = 0.0  # Initialize solution to 0 (first term)
    sign = 1.0  # Sign for alternating terms
    data = {'sol': [sol], 'et': [abs((math.sin(x) - sol) / math.sin(x)) * 100], 'ea': [100]}

    while True:
        term = sign * (x**(2*iter + 1) / math.factorial(2*iter + 1))
        sol += term
        iter += 1
        sign *= -1  # Alternate sign for next term

        if iter > 0:  # Calculate absolute error only after first iteration
            ea = abs(term / sol) * 100

        data['sol'].append(sol)
        data['et'].append(abs((math.sin(x) - sol) / math.sin(x)) * 100)
        data['ea'].append(ea if iter > 0 else None)  # Avoid division by zero

        if ea < es or iter == maxit:
            break

    df = pd.DataFrame(data)
    return df

In [49]:
sin_series(5, 1e-4, 10)

         sol           et           ea
0   0.000000   100.000000   100.000000
1   5.000000   621.417606   100.000000
2 -15.833333  1551.155754   131.578947
3  10.208333  1164.560946   255.102041
4  -5.292659   451.937089   292.877226
5   0.089630   109.346951  6004.996157
6  -1.133617    18.217604   107.906564
7  -0.937584     2.225434    20.908339
8  -0.960921     0.208261     2.428637
9  -0.958776     0.015424     0.223720

### $ln(x+1)$

In [11]:
ln_x = maclaurin_series(sp.ln(x+1), x, 10)
ln_x

x - x**2/2 + x**3/3 - x**4/4 + x**5/5 - x**6/6 + x**7/7 - x**8/8 + x**9/9 + O(x**10)

In [53]:
import math
import pandas as pd

def ln_series(x, es=1e-4, maxit=50):
    """
    This function iteratively calculates an approximation of ln(x+1) using its Taylor series representation
    and stores the results in a pandas DataFrame.

    Args:
        x: The value for which to calculate the approximation (must be greater than -1).
        es: The desired absolute error tolerance (default: 1e-4).
        maxit: The maximum number of iterations allowed (default: 50).

    Returns:
        A pandas DataFrame containing the iteration number, solution, true error, and absolute error.

    Raises:
        ValueError: If x is less than or equal to -1.
    """

    if x <= -1:
        raise ValueError("x must be greater than -1 for ln(x+1) to be defined.")

    # initialization
    maxit = maxit - 1
    iter = 1
    sol = 0  # Initial value for ln(x+1) series
    ea = 100
    data = {'sol': [sol], 'et': [abs((math.log(x+1)-sol))/math.log(x+1)*100], 'ea': [100]}

    # iterative calculation
    while True:
        term = (-1)**(iter+1) * x**iter / iter
        sol += term
        iter += 1

        if sol != 0:
            ea = abs(term / sol) * 100
            et = abs((math.log(x+1)-sol))/math.log(x+1)*100

        data['sol'].append(sol)
        data['et'].append(et)
        data['ea'].append(ea)

        if ea < es or iter == maxit:
            break

    return pd.DataFrame(data)

In [54]:
ln_series(5, 1e-4, 10)

            sol            et          ea
0      0.000000  1.000000e+02  100.000000
1      5.000000  1.790553e+02  100.000000
2     -7.500000  5.185830e+02  166.666667
3     34.166667  1.806878e+03  121.951220
4   -122.083333  6.913601e+03  127.986348
5    502.916667  2.796831e+04  124.275062
6  -2101.250000  1.173730e+05  123.934166
7   9059.464286  5.055183e+05  123.193976
8 -39768.660714  2.219631e+06  122.780411