Ini teks

In [1]:
print ('halo')

halo

In [2]:
p = 1
q = 2
r = p+q
print (r)

3

In [3]:
a = 1
b = 2.3
c = a + b
print (c)

3.3

## Struktur data


1.   List
      - mutable
      - their elements are usually homogeneous and are accessed by iterating over the list.
2.   Tuple
      -  immutable
      - usually contain a heterogeneous sequence of elements

1.   Set
      - store an unordered collection with no duplicate elements
      - upport the mathematical operations like union, intersection, difference, and symmetric difference

2.   Dictionaries
    
    - elements are stored without order
    - To get access to a dictionary, we need to use the key of the element - dictionary[key]

In [4]:
#1. List

list_1 = [1, 2, 3]
list_1

[1, 2, 3]

In [5]:
list_2 = ['Hello', 'World']
list_2

['Hello', 'World']

In [6]:
list_3 = [1, 2, 3, 'Apple', 'orange']
list_3

[1, 2, 3, 'Apple', 'orange']

In [7]:
list_4 = [list_1, list_2, list_3]
list_4

[[1, 2, 3], ['Hello', 'World'], [1, 2, 3, 'Apple', 'orange']]

In [8]:
list_3[2] #Get the 3rd element in list_3
list_3[4]

'orange'

In [9]:
list_3[:4] # Get the first 3 elements in list_3

[1, 2, 3, 'Apple']

In [10]:
list_3[-1] #Get the last element in list_3

'orange'

In [11]:
len(list_3)

5

In [12]:
listx = list_1 + list_2  # Add list_1 and list_2 to one list.
listx

[1, 2, 3, 'Hello', 'World']

In [13]:
list_1.append(4)
list_1

[1, 2, 3, 4]

In [14]:
list_1.insert(2,'center')
list_1

[1, 2, 'center', 3, 4]

In [15]:
#2. Tuples

tuple_1 = (1, 2, 3, 2)
tuple_1

(1, 2, 3, 2)

In [16]:
len(tuple_1)

4

In [17]:
tuple_1.count(2)

2

In [18]:
#3. Sets

set_1 = set([1, 2, 2, 3, 2, 1, 2])
set_1

{1, 2, 3}

In [19]:
set_2 = set((2, 4, 6, 5, 2))
set_2

{2, 4, 5, 6}

In [20]:
print(set_1)
print(set_2)

{1, 2, 3}
{2, 4, 5, 6}

In [21]:
set_1.union(set_2)

{1, 2, 3, 4, 5, 6}

In [22]:
set_1.intersection(set_2)

{2}

In [23]:
set_1.issubset({1, 2, 3, 3, 4, 5})

True

In [24]:
#4. Dictionaries

dict_1 = {'apple':3, 'oragne':4, 'pear':2}
dict_1

{'apple': 3, 'oragne': 4, 'pear': 2}

In [25]:
dict_1['apple']

3

In [26]:
dict_1.keys()

dict_keys(['apple', 'oragne', 'pear'])

In [27]:
dict_1.values()

dict_values([3, 4, 2])

In [28]:
len(dict_1)

3

## Numpy Arrays

Numpy is the most fundamental numerical computing module in Python.

##Few important features for Numpy :


*   a powerful N-dimensional array object
*   sophisticated (broadcasting) functions


*   tools for integrating C/C++ and Fortran code
*   useful linear algebra, Fourier transform, and random number capabilities

c:> pip install numpy

In [29]:
import numpy as np

Create the following arrays:

$$ x = \begin{pmatrix}
       1 & 4 & 3
       \end{pmatrix}
$$

$$
y  = \begin{pmatrix}
      1 & 4 & 3\\
      9 & 2 & 7
      \end{pmatrix}
$$

In [30]:
x = np.array([1,4,3])
x

array([1, 4, 3])

In [31]:
y = np.array([[1,4,3],[9,2,7]])
y

array([[1, 4, 3],
       [9, 2, 7]])

In [32]:
y.shape  # Find the rows and, columns

(2, 3)

In [33]:
y.size # total size for array y

6

In [34]:
z = np.arange(1, 2000, 3) # Create an array z from 1 to 2000 with an increment 2.
z

array([   1,    4,    7,   10,   13,   16,   19,   22,   25,   28,   31,
         34,   37,   40,   43,   46,   49,   52,   55,   58,   61,   64,
         67,   70,   73,   76,   79,   82,   85,   88,   91,   94,   97,
        100,  103,  106,  109,  112,  115,  118,  121,  124,  127,  130,
        133,  136,  139,  142,  145,  148,  151,  154,  157,  160,  163,
        166,  169,  172,  175,  178,  181,  184,  187,  190,  193,  196,
        199,  202,  205,  208,  211,  214,  217,  220,  223,  226,  229,
        232,  235,  238,  241,  244,  247,  250,  253,  256,  259,  262,
        265,  268,  271,  274,  277,  280,  283,  286,  289,  292,  295,
        298,  301,  304,  307,  310,  313,  316,  319,  322,  325,  328,
        331,  334,  337,  340,  343,  346,  349,  352,  355,  358,  361,
        364,  367,  370,  373,  376,  379,  382,  385,  388,  391,  394,
        397,  400,  403,  406,  409,  412,  415,  418,  421,  424,  427,
        430,  433,  436,  439,  442,  445,  448,  451,  454,  457,  460,
        463,  466,  469,  472,  475,  478,  481,  484,  487,  490,  493,
        496,  499,  502,  505,  508,  511,  514,  517,  520,  523,  526,
        529,  532,  535,  538,  541,  544,  547,  550,  553,  556,  559,
        562,  565,  568,  571,  574,  577,  580,  583,  586,  589,  592,
        595,  598,  601,  604,  607,  610,  613,  616,  619,  622,  625,
        628,  631,  634,  637,  640,  643,  646,  649,  652,  655,  658,
        661,  664,  667,  670,  673,  676,  679,  682,  685,  688,  691,
        694,  697,  700,  703,  706,  709,  712,  715,  718,  721,  724,
        727,  730,  733,  736,  739,  742,  745,  748,  751,  754,  757,
        760,  763,  766,  769,  772,  775,  778,  781,  784,  787,  790,
        793,  796,  799,  802,  805,  808,  811,  814,  817,  820,  823,
        826,  829,  832,  835,  838,  841,  844,  847,  850,  853,  856,
        859,  862,  865,  868,  871,  874,  877,  880,  883,  886,  889,
        892,  895,  898,  901,  904,  907,  910,  913,  916,  919,  922,
        925,  928,  931,  934,  937,  940,  943,  946,  949,  952,  955,
        958,  961,  964,  967,  970,  973,  976,  979,  982,  985,  988,
        991,  994,  997, 1000, 1003, 1006, 1009, 1012, 1015, 1018, 1021,
       1024, 1027, 1030, 1033, 1036, 1039, 1042, 1045, 1048, 1051, 1054,
       1057, 1060, 1063, 1066, 1069, 1072, 1075, 1078, 1081, 1084, 1087,
       1090, 1093, 1096, 1099, 1102, 1105, 1108, 1111, 1114, 1117, 1120,
       1123, 1126, 1129, 1132, 1135, 1138, 1141, 1144, 1147, 1150, 1153,
       1156, 1159, 1162, 1165, 1168, 1171, 1174, 1177, 1180, 1183, 1186,
       1189, 1192, 1195, 1198, 1201, 1204, 1207, 1210, 1213, 1216, 1219,
       1222, 1225, 1228, 1231, 1234, 1237, 1240, 1243, 1246, 1249, 1252,
       1255, 1258, 1261, 1264, 1267, 1270, 1273, 1276, 1279, 1282, 1285,
       1288, 1291, 1294, 1297, 1300, 1303, 1306, 1309, 1312, 1315, 1318,
       1321, 1324, 1327, 1330, 1333, 1336, 1339, 1342, 1345, 1348, 1351,
       1354, 1357, 1360, 1363, 1366, 1369, 1372, 1375, 1378, 1381, 1384,
       1387, 1390, 1393, 1396, 1399, 1402, 1405, 1408, 1411, 1414, 1417,
       1420, 1423, 1426, 1429, 1432, 1435, 1438, 1441, 1444, 1447, 1450,
       1453, 1456, 1459, 1462, 1465, 1468, 1471, 1474, 1477, 1480, 1483,
       1486, 1489, 1492, 1495, 1498, 1501, 1504, 1507, 1510, 1513, 1516,
       1519, 1522, 1525, 1528, 1531, 1534, 1537, 1540, 1543, 1546, 1549,
       1552, 1555, 1558, 1561, 1564, 1567, 1570, 1573, 1576, 1579, 1582,
       1585, 1588, 1591, 1594, 1597, 1600, 1603, 1606, 1609, 1612, 1615,
       1618, 1621, 1624, 1627, 1630, 1633, 1636, 1639, 1642, 1645, 1648,
       1651, 1654, 1657, 1660, 1663, 1666, 1669, 1672, 1675, 1678, 1681,
       1684, 1687, 1690, 1693, 1696, 1699, 1702, 1705, 1708, 1711, 1714,
       1717, 1720, 1723, 1726, 1729, 1732, 1735, 1738, 1741, 1744, 1747,
       1750, 1753, 1756, 1759, 1762, 1765, 1768, 1771, 1774, 1777, 1780,
       1783, 1786, 1789, 1792, 1795, 1798, 1801, 1804, 1807, 1810, 1813,
       1816, 1819, 1822, 1825, 1828, 1831, 1834, 1837, 1840, 1843, 1846,
       1849, 1852, 1855, 1858, 1861, 1864, 1867, 1870, 1873, 1876, 1879,
       1882, 1885, 1888, 1891, 1894, 1897, 1900, 1903, 1906, 1909, 1912,
       1915, 1918, 1921, 1924, 1927, 1930, 1933, 1936, 1939, 1942, 1945,
       1948, 1951, 1954, 1957, 1960, 1963, 1966, 1969, 1972, 1975, 1978,
       1981, 1984, 1987, 1990, 1993, 1996, 1999])

In [35]:
p = np.arange(0.5, 3, 0.1) # Generate an array with [0.5, 1, 1.5, 2, 2.5]
p

array([0.5, 0.6, 0.7, 0.8, 0.9, 1. , 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7,
       1.8, 1.9, 2. , 2.1, 2.2, 2.3, 2.4, 2.5, 2.6, 2.7, 2.8, 2.9])

In [36]:
q = np.linspace(3, 9, 10) # generate an array starting at 3, ending at 9, and containing 10 elements
q

array([3.        , 3.66666667, 4.33333333, 5.        , 5.66666667,
       6.33333333, 7.        , 7.66666667, 8.33333333, 9.        ])

In [37]:
q[1] # get the 2nd element of q

3.6666666666666665

In [38]:
q[5:] # get all the element after the 5nd element of q

array([6.33333333, 7.        , 7.66666667, 8.33333333, 9.        ])

In [39]:
q[:3]

array([3.        , 3.66666667, 4.33333333])

In [40]:
q[-1] # get the last element of x

9.0

In [41]:
y

array([[1, 4, 3],
       [9, 2, 7]])

In [42]:
y[0, :] # Get the second row of array y.

array([1, 4, 3])

In [43]:
y[:,1]

array([4, 2])

In [44]:
y[:, -1] # Get the last column of array y.

array([3, 7])

In [45]:
y[:,1]

array([4, 2])

In [46]:
y[:, 1] # Get the second column of array y.

array([4, 2])

In [47]:
y[:, [0, 2]]  #Get the first and third column of array y

array([[1, 3],
       [9, 7]])

In [48]:
np.zeros((3, 5)) # Generate a 3 by 5 array with all the as 0.

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [49]:
np.ones((5, 3)) #Generate a 5 by 3 array with all the element as 1

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

### Excercise :
Make array

$$
  a = \begin{pmatrix}  
      1&2&3&4&5&6
      \end{pmatrix}
$$

In [60]:
import numpy as np
a = np.array([1,2,3,4,5,6])
a

array([1, 2, 3, 4, 5, 6])

In [51]:
a = np.arange(3, 6)
a

array([3, 4, 5])

In [61]:
a[3] = 7 # reassign the fourth element of a to 7
a

array([1, 2, 3, 7, 5, 6])

In [62]:
a[:3] = 1 # reassign the first, second, and thrid elements to 1
a

array([1, 1, 1, 7, 5, 6])

In [63]:
a[2:] = 5
a

array([1, 1, 5, 5, 5, 5])

In [64]:
a

array([1, 1, 5, 5, 5, 5])

In [65]:
a[1:5] = [9, 8, 7,10] #Reassign the second, third, and fourth elements to 9, 8, and 7.
a

array([ 1,  9,  8,  7, 10,  5])

#### Operational pada Matrix

$$
  A = \begin{pmatrix}
      2&-4\\
      -2&10       
      \end{pmatrix}
$$

$$
  B = \begin{pmatrix}
  1&2\\
  3&4
  \end{pmatrix}
$$

In [67]:
A = np.array([[2,-4],[-2,10]])
A

array([[ 2, -4],
       [-2, 10]])

In [68]:
B = np.array([[1,2],[3,4]])
B

array([[1, 2],
       [3, 4]])

In [69]:
C = A*B
C

array([[ 2, -8],
       [-6, 40]])

In [70]:
C = A-B
C

array([[ 1, -6],
       [-5,  6]])

In [71]:
A

array([[ 2, -4],
       [-2, 10]])

In [72]:
D = A**2
D

array([[  4,  16],
       [  4, 100]])

In [73]:
E = A**B
E

array([[    2,    16],
       [   -8, 10000]])

In [74]:
C = A*B
C

array([[ 2, -8],
       [-6, 40]])

In [75]:
C = A*B
C

array([[ 2, -8],
       [-6, 40]])

In [76]:
A+2

array([[ 4, -2],
       [ 0, 12]])

In [77]:
A**2

array([[  4,  16],
       [  4, 100]])

In [78]:
A/2

array([[ 1., -2.],
       [-1.,  5.]])

## Multiplication in NumPy

In [79]:
import numpy as np
A = np.array([[1,2,3], [4,5,6]])
B = np.array([[1,1,1], [0,1,0], [1,1,1]])
print("Matrix A is:\n",A)
print("Matrix A is:\n",B)
C = np.matmul(A,B)
print("Matrix multiplication of matrix A and B is:\n",C)
D = np.dot(A,B)
print("Matrix multiplication of matrix A and B is:\n",D)

Matrix A is:
 [[1 2 3]
 [4 5 6]]
Matrix A is:
 [[1 1 1]
 [0 1 0]
 [1 1 1]]
Matrix multiplication of matrix A and B is:
 [[ 4  6  4]
 [10 15 10]]
Matrix multiplication of matrix A and B is:
 [[ 4  6  4]
 [10 15 10]]

In [82]:
A

array([[1, 2, 3],
       [4, 5, 6]])

In [81]:
E = A*B
E

ValueError: operands could not be broadcast together with shapes (2,3) (3,3)

## Function

def function_name(argument_1, argument_2, ...):
    '''
    Descriptive String
    '''
    # comments about the statements
    function_statements
    
    return output_parameters (optional)

In [83]:
def tambah(a,b):
  return a+b

a = 5
b = 6
c = tambah(a,b)
print (c)

11

In [84]:
def fungsi1(a,b) :
  return a+b, a-b, a*b

a1 = 5
a2 = 6
b1,b2,b3 = fungsi1(a1,a2)
print ("%d + %d = %d" %(a1,a2,b1) )
print ("%d - %d = %d" %(a1,a2,b2) )
print ("%d * %d = %d" %(a1,a2,b3) )

5 + 6 = 11
5 - 6 = -1
5 * 6 = 30

In [85]:
def my_trig_sum(a, b):
    """
    function to demo return multiple
    author
    date
    """
    out1 = np.sin(a) + np.cos(b)
    out2 = np.sin(b) + np.cos(a)
    return out1, out2, [out1, out2]

c, d, e = my_trig_sum(2, 3)
print(f"c ={c}, d={d}, e={e}")

c =-0.0806950697747637, d=-0.2750268284872752, e=[-0.0806950697747637, -0.2750268284872752]

### Nested function

In [86]:
import numpy as np

def my_dist_xyz(x, y, z):
    """
    x, y, z are 2D coordinates contained in a tuple
    output:
    d - list, where
        d[0] is the distance between x and y
        d[1] is the distance between x and z
        d[2] is the distance between y and z
    """

    def my_dist(x, y):
        """
        subfunction for my_dist_xyz
        Output is the distance between x and y,
        computed using the distance formula
        """
        out = np.sqrt((x[0]-y[0])**2+(x[1]-y[1])**2)
        return out

    d0 = my_dist(x, y)
    d1 = my_dist(x, z)
    d2 = my_dist(y, z)

    return [d0, d1, d2]


d = my_dist_xyz((0, 0), (0, 1), (1, 1))
print(d)

[1.0, 1.4142135623730951, 1.0]

# Lambda Functions

   - function is just one line
   - a function that is defined without a name

   ***lambda arguments: expression***

In [87]:
square = lambda x: x**2

print(square(2))
print(square(5))

4
25

In [88]:
my_adder = lambda x, y: x + y

print(my_adder(2, 4))

6

In [89]:
sorted([(1, 2, 4), (2, 0, 2), (4, 1, 5)], key=lambda x: x[2])  # Sort [(1, 2, 4), (2, 0, 2), (4, 1, 5)] based on the 3nd item in the tuple

[(2, 0, 2), (1, 2, 4), (4, 1, 5)]

In [90]:
sorted([(1, 2, 4), (2, 0, 2), (4, 1, 5)], key=lambda x: x[1])

[(2, 0, 2), (4, 1, 5), (1, 2, 4)]

$$
    f(x,y,z) = x^y - z
$$

In [103]:
fn = lambda x,y,z: x**y - z

In [104]:
print ("%d^%d - %d = %d" %(2,3,6,fn(2,3,6)))

2^3 - 6 = 2

### Functions as Arguments to Functions

In [93]:
import numpy as np

def my_fun_plus_one(f, x):
    return f(x) + 1

print(my_fun_plus_one(np.sin, np.pi/2))
print(my_fun_plus_one(np.cos, np.pi/2))
print(my_fun_plus_one(np.sqrt, 25))

2.0
1.0
6.0

## Branching Statements

In [94]:
def assesment(score):
  if score >= 80:
    return "LULUS"
  else:
    return "GAGAL"

nilai1 = 81.5
print ("Nilai %.2f = %s" %(nilai1, assesment(nilai1)))

Nilai 81.50 = LULUS

## Ternary Operators

***expression_if_true if condition else expression_if_false***

In [95]:
is_student = False
person = 'student' if is_student else 'not student'
print(person)

not student

In [96]:
hitung1 = lambda x, y : x**y
hitung2 = lambda x, y : y**x
hasil1 = lambda x, y : x if x > y else y
x = 10
y = 3
hasil2 = lambda x,y : hitung1(x,y) if x > y else hitung2(x,y)
print ("karena %d > %d maka hasil hitungnya %d" %(x, y, hasil1(x,y)))
print ("karena %d > %d maka hasil hitungnya %d" %(x, y, hasil2(x,y)))

karena 10 > 3 maka hasil hitungnya 10
karena 10 > 3 maka hasil hitungnya 1000

## Iteration

In [97]:
n = 0
for i in range(1, 10, 1):
    print(i)
    # n = n + i

# print(n)

1
2
3
4
5
6
7
8
9

In [98]:
i = 0
n = 8

while n >= 1:
    n /= 2
    i += 1

print(f'n = {n}, i = {i}')

n = 0.5, i = 4

## Comprehensions

***[Output Input_sequence Conditions]***

In [99]:
x = range(5)
y = []

for i in x:
    y.append(i**2)
print(y)

[0, 1, 4, 9, 16]

In [100]:
y = [i**2 for i in x]
print(y)

[0, 1, 4, 9, 16]

In [101]:
y = [i**2 for i in x if i%2 == 0]
print(y)

[0, 4, 16]

In [102]:
y = [i + j for i in range(5) for j in range(2)]
print(y)

[0, 1, 1, 2, 2, 3, 3, 4, 4, 5]